<a class="cookbook-recipe-item" [routerLink]="link()">
  <span class="cookbook-recipe-item__position">{{ position() }}.</span>
  <span class="cookbook-recipe-item__time">
    <svg class="cookbook-recipe-item__time-icon" viewBox="0 -960 960 960" aria-hidden="true">
      <use href="assets/icons/schedule.svg#icon"></use>
    </svg>
    Cooking time: {{ cookingTime() }}min
  </span>
  <span class="cookbook-recipe-item__title">{{ title() }}</span>
  <span class="cookbook-recipe-item__tags">
    @for (tag of tags(); track tag) {
      <app-tag [label]="tag" [isActive]="true" [isInteractive]="false" />
    }
    <span class="cookbook-recipe-item__likes">
      <svg class="cookbook-recipe-item__likes-icon" viewBox="0 -960 960 960" aria-hidden="true">
        <use href="assets/icons/heart.svg#icon"></use>
      </svg>
      {{ likes() }}
      <span class="cookbook-recipe-item__likes-label">likes</span>
    </span>
  </span>
</a>
