$color-green-dark: #10310b;
$color-green-middle: #1e5515;
$color-green-olive: #396039;
$color-green-bright: #008000;
$color-green-hover: #055e05;
$color-cream: #faf0e6;
$color-cream-hover: #fae0c6;
$color-sage: #dbe0db;
$color-white: #ffffff;
$color-sage-light: #e7ece7;
$color-sage-medium: #d7dfd7;
$color-sage-dark: #c4d0c4;
$color-black: #000000;
$color-peach: #ffd9b3;
$color-lime: #cfd700;
$color-sand: #f6e3cf;
$color-green-shadow: #0c2108;
